#s-bd404998-b88e-4f65-83ad-d4f0d55108f4 > #backgroundBox {
  position: absolute;
}

#s-bd404998-b88e-4f65-83ad-d4f0d55108f4 > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}

#s-bd404998-b88e-4f65-83ad-d4f0d55108f4 #s-Image_3 {
  position: absolute;
  width: 100.0%;
  height: 100.0%;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-bd404998-b88e-4f65-83ad-d4f0d55108f4 #s-Image_3 {
  box-shadow: none;
}

#s-bd404998-b88e-4f65-83ad-d4f0d55108f4 #s-Rectangle_1 {
  position: absolute;
  width: 94.93333400000002%;
  min-height: 94.0px;
  opacity: 0.3;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-bd404998-b88e-4f65-83ad-d4f0d55108f4 #s-Rectangle_1 {
  box-shadow: none;
}

#s-bd404998-b88e-4f65-83ad-d4f0d55108f4 #s-Rectangle_1 > .backgroundLayer {
  border-radius: 21px 21px 21px 21px;
}

#s-bd404998-b88e-4f65-83ad-d4f0d55108f4 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-bd404998-b88e-4f65-83ad-d4f0d55108f4 #s-Rectangle_1 > .borderLayer {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 21px 21px 21px 21px;
}

#s-bd404998-b88e-4f65-83ad-d4f0d55108f4 #s-Rectangle_1 > .backgroundLayer {
  border-radius: 21px 21px 21px 21px;
}

#s-bd404998-b88e-4f65-83ad-d4f0d55108f4 #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-bd404998-b88e-4f65-83ad-d4f0d55108f4 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-bd404998-b88e-4f65-83ad-d4f0d55108f4 #s-Rectangle_1 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 18px;
}

#s-bd404998-b88e-4f65-83ad-d4f0d55108f4 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #404040;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 18px;
}

#s-bd404998-b88e-4f65-83ad-d4f0d55108f4 #s-Image_103 {
  position: absolute;
  width: 8.0px;
  height: 7.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-bd404998-b88e-4f65-83ad-d4f0d55108f4 #s-Image_103 {
  box-shadow: none;
}

#s-bd404998-b88e-4f65-83ad-d4f0d55108f4 #s-Image_104 {
  position: absolute;
  width: 8.0px;
  height: 7.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-bd404998-b88e-4f65-83ad-d4f0d55108f4 #s-Image_104 {
  box-shadow: none;
}

#s-bd404998-b88e-4f65-83ad-d4f0d55108f4 #s-Image_105 {
  position: absolute;
  width: 8.0px;
  height: 7.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-bd404998-b88e-4f65-83ad-d4f0d55108f4 #s-Image_105 {
  box-shadow: none;
}

#s-bd404998-b88e-4f65-83ad-d4f0d55108f4 #s-Items {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-bd404998-b88e-4f65-83ad-d4f0d55108f4 #s-Icons {
  width: 329.0px;
  height: 60.96059%;
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-bd404998-b88e-4f65-83ad-d4f0d55108f4 #s-Icons {
  box-shadow: none;
}

#s-bd404998-b88e-4f65-83ad-d4f0d55108f4 #s-Icons td.layout {
  padding: 0px 0px 0px 0px;
}

#s-bd404998-b88e-4f65-83ad-d4f0d55108f4 #s-Icons > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: auto;
}

#s-bd404998-b88e-4f65-83ad-d4f0d55108f4 #s-Icons .verticalalign {
  vertical-align: top;
}

#s-bd404998-b88e-4f65-83ad-d4f0d55108f4 #s-Image_17 {
  position: absolute;
  width: 329.0px;
  height: 486.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-bd404998-b88e-4f65-83ad-d4f0d55108f4 #s-Image_17 {
  box-shadow: none;
}

#s-bd404998-b88e-4f65-83ad-d4f0d55108f4 #s-Image_2 {
  position: absolute;
  width: 60.0px;
  height: 60.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-bd404998-b88e-4f65-83ad-d4f0d55108f4 #s-Image_2 {
  box-shadow: none;
}

#s-bd404998-b88e-4f65-83ad-d4f0d55108f4 #s-Image_2 > .backgroundLayer {
  border-radius: 12px 12px 12px 12px;
}

#s-bd404998-b88e-4f65-83ad-d4f0d55108f4 #s-Image_2 > .borderLayer {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 12px 12px 12px 12px;
}

#s-bd404998-b88e-4f65-83ad-d4f0d55108f4 #s-Image_2 > .backgroundLayer {
  border-radius: 12px 12px 12px 12px;
}

#s-bd404998-b88e-4f65-83ad-d4f0d55108f4 #s-Text_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-bd404998-b88e-4f65-83ad-d4f0d55108f4 #s-Text_1 {
  box-shadow: none;
}

#s-bd404998-b88e-4f65-83ad-d4f0d55108f4 #s-Text_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-bd404998-b88e-4f65-83ad-d4f0d55108f4 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-bd404998-b88e-4f65-83ad-d4f0d55108f4 #s-Text_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
}

#s-bd404998-b88e-4f65-83ad-d4f0d55108f4 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
}

#s-bd404998-b88e-4f65-83ad-d4f0d55108f4 #s-Image_1 {
  position: absolute;
  width: 40.80428728446026px;
  height: 51.07475415197757px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-bd404998-b88e-4f65-83ad-d4f0d55108f4 #s-Image_1 {
  box-shadow: none;
}

#s-bd404998-b88e-4f65-83ad-d4f0d55108f4 #s-Text_2 {
  position: absolute;
  width: 45.0px;
  min-height: 19.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-bd404998-b88e-4f65-83ad-d4f0d55108f4 #s-Text_2 {
  box-shadow: none;
}

#s-bd404998-b88e-4f65-83ad-d4f0d55108f4 #s-Text_2 .paddingLayer:first-child {
  padding-top: 1px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-bd404998-b88e-4f65-83ad-d4f0d55108f4 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-bd404998-b88e-4f65-83ad-d4f0d55108f4 #s-Text_2 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}

#s-bd404998-b88e-4f65-83ad-d4f0d55108f4 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}

#s-bd404998-b88e-4f65-83ad-d4f0d55108f4 #s-Image_18 {
  position: absolute;
  width: 17.0px;
  height: 12.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-bd404998-b88e-4f65-83ad-d4f0d55108f4 #s-Image_18 {
  box-shadow: none;
}

#s-bd404998-b88e-4f65-83ad-d4f0d55108f4 #s-Image_19 {
  position: absolute;
  width: 18.0px;
  height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-bd404998-b88e-4f65-83ad-d4f0d55108f4 #s-Image_19 {
  box-shadow: none;
}

#s-bd404998-b88e-4f65-83ad-d4f0d55108f4 #s-Image_4 {
  position: absolute;
  width: 25.0px;
  height: 12.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-bd404998-b88e-4f65-83ad-d4f0d55108f4 #s-Image_4 {
  box-shadow: none;
}

#s-bd404998-b88e-4f65-83ad-d4f0d55108f4 #s-Main_icons {
  position: absolute;
  width: 90.13333%;
  height: 60.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-bd404998-b88e-4f65-83ad-d4f0d55108f4 #s-Main_icons {
  box-shadow: none;
}

#s-bd404998-b88e-4f65-83ad-d4f0d55108f4 #s-Cell_5 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-bd404998-b88e-4f65-83ad-d4f0d55108f4 #s-Cell_5 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-bd404998-b88e-4f65-83ad-d4f0d55108f4 #s-Cell_5 .verticalalign {
  vertical-align: middle;
}

#s-bd404998-b88e-4f65-83ad-d4f0d55108f4 #s-Cell_5 .borderLayer {
  border-left-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
}

#s-bd404998-b88e-4f65-83ad-d4f0d55108f4 #s-Cell_5 {
  width: 25.443786982248522%;
  height: 100.0%;
}

#s-bd404998-b88e-4f65-83ad-d4f0d55108f4 #s-Image_24 {
  width: 60.0px;
  height: 60.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-bd404998-b88e-4f65-83ad-d4f0d55108f4 #s-Image_24 {
  box-shadow: none;
}

#s-bd404998-b88e-4f65-83ad-d4f0d55108f4 #s-Cell_6 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-bd404998-b88e-4f65-83ad-d4f0d55108f4 #s-Cell_6 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-bd404998-b88e-4f65-83ad-d4f0d55108f4 #s-Cell_6 .verticalalign {
  vertical-align: middle;
}

#s-bd404998-b88e-4f65-83ad-d4f0d55108f4 #s-Cell_6 .borderLayer {
  border-left-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
}

#s-bd404998-b88e-4f65-83ad-d4f0d55108f4 #s-Cell_6 {
  width: 24.85207100591716%;
  height: 100.0%;
}

#s-bd404998-b88e-4f65-83ad-d4f0d55108f4 #s-Image_25 {
  width: 60.0px;
  height: 60.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-bd404998-b88e-4f65-83ad-d4f0d55108f4 #s-Image_25 {
  box-shadow: none;
}

#s-bd404998-b88e-4f65-83ad-d4f0d55108f4 #s-Cell_7 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-bd404998-b88e-4f65-83ad-d4f0d55108f4 #s-Cell_7 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-bd404998-b88e-4f65-83ad-d4f0d55108f4 #s-Cell_7 .verticalalign {
  vertical-align: middle;
}

#s-bd404998-b88e-4f65-83ad-d4f0d55108f4 #s-Cell_7 .borderLayer {
  border-left-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
}

#s-bd404998-b88e-4f65-83ad-d4f0d55108f4 #s-Cell_7 {
  width: 24.85207100591716%;
  height: 100.0%;
}

#s-bd404998-b88e-4f65-83ad-d4f0d55108f4 #s-Image_26 {
  width: 60.0px;
  height: 60.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-bd404998-b88e-4f65-83ad-d4f0d55108f4 #s-Image_26 {
  box-shadow: none;
}

#s-bd404998-b88e-4f65-83ad-d4f0d55108f4 #s-Cell_8 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-bd404998-b88e-4f65-83ad-d4f0d55108f4 #s-Cell_8 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-bd404998-b88e-4f65-83ad-d4f0d55108f4 #s-Cell_8 .verticalalign {
  vertical-align: middle;
}

#s-bd404998-b88e-4f65-83ad-d4f0d55108f4 #s-Cell_8 .borderLayer {
  border-left-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
}

#s-bd404998-b88e-4f65-83ad-d4f0d55108f4 #s-Cell_8 {
  width: 24.85207100591716%;
  height: 100.0%;
}

#s-bd404998-b88e-4f65-83ad-d4f0d55108f4 #s-Image_27 {
  width: 60.0px;
  height: 60.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-bd404998-b88e-4f65-83ad-d4f0d55108f4 #s-Image_27 {
  box-shadow: none;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-bd404998-b88e-4f65-83ad-d4f0d55108f4 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
