#s-cc058563-f334-4060-bba8-b98be392be6e > #backgroundBox {
  background-color: #9AD1C1;
  position: absolute;
}

#s-cc058563-f334-4060-bba8-b98be392be6e > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Image_1 {
  position: absolute;
  width: 134.82460717761614px;
  height: 168.76005252164208px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-cc058563-f334-4060-bba8-b98be392be6e #s-Image_1 {
  box-shadow: none;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Text_2 {
  position: absolute;
  width: 45.0px;
  min-height: 19.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-cc058563-f334-4060-bba8-b98be392be6e #s-Text_2 {
  box-shadow: none;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Text_2 .paddingLayer:first-child {
  padding-top: 1px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Text_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Text_2 span#rtr-s-Text_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Image_17 {
  position: absolute;
  width: 17.0px;
  height: 12.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-cc058563-f334-4060-bba8-b98be392be6e #s-Image_17 {
  box-shadow: none;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Image_18 {
  position: absolute;
  width: 18.0px;
  height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-cc058563-f334-4060-bba8-b98be392be6e #s-Image_18 {
  box-shadow: none;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Image_4 {
  position: absolute;
  width: 25.0px;
  height: 12.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-cc058563-f334-4060-bba8-b98be392be6e #s-Image_4 {
  box-shadow: none;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Dynamic_Panel_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Panel_1 {
  width: 335.6823199711474px;
  height: 324.0000000000002px;
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-cc058563-f334-4060-bba8-b98be392be6e #s-Panel_1 {
  box-shadow: none;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Panel_1 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Panel_1 .verticalalign {
  vertical-align: top;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Input_4 input::-webkit-input-placeholder {
  color: #E0D1D1;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Input_4 input::-moz-placeholder {
  color: #E0D1D1;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Input_4 input:-moz-placeholder {
  color: #E0D1D1;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Input_4 input:-ms-input-placeholder {
  color: #E0D1D1;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Input_4 {
  position: absolute;
  width: 298.68231997114776px;
  height: 48.17316626777426px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-cc058563-f334-4060-bba8-b98be392be6e #s-Input_4 {
  box-shadow: none;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Input_4 .valign {
  vertical-align: middle;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Input_4 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Input_4 > .backgroundLayer {
  border-radius: 24px 24px 24px 24px;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Input_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Input_4 > .borderLayer {
  border-radius: 24px 24px 24px 24px;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Input_4 > .backgroundLayer {
  border-radius: 24px 24px 24px 24px;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Input_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Paragraph_8 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-cc058563-f334-4060-bba8-b98be392be6e #s-Paragraph_8 {
  box-shadow: none;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Paragraph_8 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Paragraph_8 .valign {
  vertical-align: top;
  text-align: left;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Paragraph_8 span {
  color: #382F6E;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #382F6E;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Input_6 input::-webkit-input-placeholder {
  color: #E0D1D1;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Input_6 input::-moz-placeholder {
  color: #E0D1D1;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Input_6 input:-moz-placeholder {
  color: #E0D1D1;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Input_6 input:-ms-input-placeholder {
  color: #E0D1D1;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Input_6 {
  position: absolute;
  width: 298.682319971148px;
  height: 48.17316626777415px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-cc058563-f334-4060-bba8-b98be392be6e #s-Input_6 {
  box-shadow: none;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Input_6 .valign {
  vertical-align: middle;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Input_6 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Input_6 > .backgroundLayer {
  border-radius: 24px 24px 24px 24px;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Input_6 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Input_6 > .borderLayer {
  border-radius: 24px 24px 24px 24px;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Input_6 > .backgroundLayer {
  border-radius: 24px 24px 24px 24px;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Input_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Input_7 input::-webkit-input-placeholder {
  color: #E0D1D1;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Input_7 input::-moz-placeholder {
  color: #E0D1D1;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Input_7 input:-moz-placeholder {
  color: #E0D1D1;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Input_7 input:-ms-input-placeholder {
  color: #E0D1D1;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Input_7 {
  position: absolute;
  width: 298.682319971148px;
  height: 48.17316626777415px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-cc058563-f334-4060-bba8-b98be392be6e #s-Input_7 {
  box-shadow: none;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Input_7 .valign {
  vertical-align: middle;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Input_7 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Input_7 > .backgroundLayer {
  border-radius: 24px 24px 24px 24px;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Input_7 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Input_7 > .borderLayer {
  border-radius: 24px 24px 24px 24px;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Input_7 > .backgroundLayer {
  border-radius: 24px 24px 24px 24px;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Input_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Button_2 {
  position: absolute;
  width: 148.86206896551693px;
  min-height: 33.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans Light',Arial;
}

_:-ms-fullscreen, :root #s-cc058563-f334-4060-bba8-b98be392be6e #s-Button_2 {
  box-shadow: none;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Button_2 > .backgroundLayer {
  border-radius: 11px 11px 11px 11px;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Button_2 > .borderLayer {
  border-radius: 11px 11px 11px 11px;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Button_2 > .backgroundLayer {
  border-radius: 11px 11px 11px 11px;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Button_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Button_2 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Open Sans Light',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Button_2 span#rtr-s-Button_2_0 {
  color: #030303;
  text-decoration: none;
  font-family: 'Open Sans Light',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Panel_2 {
  width: 335.6823199711474px;
  height: 324.0000000000002px;
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-cc058563-f334-4060-bba8-b98be392be6e #s-Panel_2 {
  box-shadow: none;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Panel_2 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Panel_2 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Panel_2 .verticalalign {
  vertical-align: top;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Loading_icon {
  position: absolute;
  width: 21.0px;
  height: 21.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-cc058563-f334-4060-bba8-b98be392be6e #s-Loading_icon {
  box-shadow: none;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Text_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat SemiBold',Arial;
}

_:-ms-fullscreen, :root #s-cc058563-f334-4060-bba8-b98be392be6e #s-Text_1 {
  box-shadow: none;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Text_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Text_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Text_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat SemiBold',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Text_1 span#rtr-s-Text_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Montserrat SemiBold',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Panel_3 {
  width: 335.6823199711474px;
  height: 324.0000000000002px;
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-cc058563-f334-4060-bba8-b98be392be6e #s-Panel_3 {
  box-shadow: none;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Panel_3 > .backgroundLayer {
  border-radius: 24px 24px 24px 24px;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Panel_3 > .borderLayer {
  border-radius: 24px 24px 24px 24px;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Panel_3 > .backgroundLayer {
  border-radius: 24px 24px 24px 24px;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Panel_3 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Panel_3 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Panel_3 .verticalalign {
  vertical-align: top;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Rectangle_31 {
  position: absolute;
  width: 325.1791377123993px;
  min-height: 274.8794326241134px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans Semibold',Arial;
}

_:-ms-fullscreen, :root #s-cc058563-f334-4060-bba8-b98be392be6e #s-Rectangle_31 {
  box-shadow: none;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Rectangle_31 > .backgroundLayer {
  border-radius: 20px 20px 20px 20px;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Rectangle_31 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Rectangle_31 > .borderLayer {
  border-radius: 20px 20px 20px 20px;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Rectangle_31 > .backgroundLayer {
  border-radius: 20px 20px 20px 20px;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Rectangle_31 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Rectangle_31 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Rectangle_31 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Rectangle_31 span#rtr-s-Rectangle_31_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Image_2 {
  position: absolute;
  width: 494.34115998557365px;
  height: 370.75586998918004px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-cc058563-f334-4060-bba8-b98be392be6e #s-Image_2 {
  box-shadow: none;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Button_3 {
  position: absolute;
  width: 148.86206896551693px;
  min-height: 33.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat SemiBold',Arial;
}

_:-ms-fullscreen, :root #s-cc058563-f334-4060-bba8-b98be392be6e #s-Button_3 {
  box-shadow: none;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Button_3 > .backgroundLayer {
  border-radius: 11px 11px 11px 11px;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Button_3 > .backgroundLayer > .colorLayer {
  background-color: #78B348;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Button_3 > .borderLayer {
  border-radius: 11px 11px 11px 11px;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Button_3 > .backgroundLayer {
  border-radius: 11px 11px 11px 11px;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Button_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Button_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat SemiBold',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-cc058563-f334-4060-bba8-b98be392be6e #s-Button_3 span#rtr-s-Button_3_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Montserrat SemiBold',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-cc058563-f334-4060-bba8-b98be392be6e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
