#s-fcfe0b4c-0c78-4061-b5d3-a9370dc9416e > #backgroundBox {
  position: absolute;
}

#s-fcfe0b4c-0c78-4061-b5d3-a9370dc9416e > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}

#s-fcfe0b4c-0c78-4061-b5d3-a9370dc9416e #s-Dynamic_Panel_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-fcfe0b4c-0c78-4061-b5d3-a9370dc9416e #s-Panel_1 {
  width: 374.99999999999955px;
  height: 812.0000000000002px;
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-fcfe0b4c-0c78-4061-b5d3-a9370dc9416e #s-Panel_1 {
  box-shadow: none;
}

#s-fcfe0b4c-0c78-4061-b5d3-a9370dc9416e #s-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-fcfe0b4c-0c78-4061-b5d3-a9370dc9416e #s-Panel_1 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-fcfe0b4c-0c78-4061-b5d3-a9370dc9416e #s-Panel_1 .verticalalign {
  vertical-align: top;
}

#s-fcfe0b4c-0c78-4061-b5d3-a9370dc9416e #s-Rectangle_1 {
  position: absolute;
  width: 380.12499999999983px;
  min-height: 837.6052124878261px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-fcfe0b4c-0c78-4061-b5d3-a9370dc9416e #s-Rectangle_1 {
  box-shadow: none;
}

#s-fcfe0b4c-0c78-4061-b5d3-a9370dc9416e #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}

#s-fcfe0b4c-0c78-4061-b5d3-a9370dc9416e #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-fcfe0b4c-0c78-4061-b5d3-a9370dc9416e #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-fcfe0b4c-0c78-4061-b5d3-a9370dc9416e #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-fcfe0b4c-0c78-4061-b5d3-a9370dc9416e #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-fcfe0b4c-0c78-4061-b5d3-a9370dc9416e #s-Panel_2 {
  width: 374.99999999999955px;
  height: 812.0px;
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-fcfe0b4c-0c78-4061-b5d3-a9370dc9416e #s-Panel_2 {
  box-shadow: none;
}

#s-fcfe0b4c-0c78-4061-b5d3-a9370dc9416e #s-Panel_2 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-fcfe0b4c-0c78-4061-b5d3-a9370dc9416e #s-Panel_2 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-fcfe0b4c-0c78-4061-b5d3-a9370dc9416e #s-Panel_2 .verticalalign {
  vertical-align: top;
}

#s-fcfe0b4c-0c78-4061-b5d3-a9370dc9416e #s-Image_3 {
  position: absolute;
  width: 100.0%;
  height: 100.0%;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-fcfe0b4c-0c78-4061-b5d3-a9370dc9416e #s-Image_3 {
  box-shadow: none;
}

#s-fcfe0b4c-0c78-4061-b5d3-a9370dc9416e #s-Image_2 {
  position: absolute;
  width: 23.0px;
  height: 36.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-fcfe0b4c-0c78-4061-b5d3-a9370dc9416e #s-Image_2 {
  box-shadow: none;
}

#s-fcfe0b4c-0c78-4061-b5d3-a9370dc9416e #s-Time-Label_2 {
  position: absolute;
  width: 260.0px;
  min-height: 123.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Thin',Arial;
}

_:-ms-fullscreen, :root #s-fcfe0b4c-0c78-4061-b5d3-a9370dc9416e #s-Time-Label_2 {
  box-shadow: none;
}

#s-fcfe0b4c-0c78-4061-b5d3-a9370dc9416e #s-Time-Label_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-fcfe0b4c-0c78-4061-b5d3-a9370dc9416e #s-Time-Label_2 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-fcfe0b4c-0c78-4061-b5d3-a9370dc9416e #s-Time-Label_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 70.0pt;
}

#s-fcfe0b4c-0c78-4061-b5d3-a9370dc9416e #s-Time-Label_2 span#rtr-s-Time-Label_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 70.0pt;
}

#s-fcfe0b4c-0c78-4061-b5d3-a9370dc9416e #s-Date-Label_2 {
  position: absolute;
  width: 375.0px;
  min-height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Light',Arial;
}

_:-ms-fullscreen, :root #s-fcfe0b4c-0c78-4061-b5d3-a9370dc9416e #s-Date-Label_2 {
  box-shadow: none;
}

#s-fcfe0b4c-0c78-4061-b5d3-a9370dc9416e #s-Date-Label_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-fcfe0b4c-0c78-4061-b5d3-a9370dc9416e #s-Date-Label_2 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-fcfe0b4c-0c78-4061-b5d3-a9370dc9416e #s-Date-Label_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}

#s-fcfe0b4c-0c78-4061-b5d3-a9370dc9416e #s-Date-Label_2 span#rtr-s-Date-Label_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}

#s-fcfe0b4c-0c78-4061-b5d3-a9370dc9416e #shapewrapper-s-Ellipse_1 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-fcfe0b4c-0c78-4061-b5d3-a9370dc9416e #shapewrapper-s-Ellipse_1 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

#s-fcfe0b4c-0c78-4061-b5d3-a9370dc9416e #shapewrapper-s-Ellipse_1 {
  position: absolute;
  filter: none;
  opacity: 0.2;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-fcfe0b4c-0c78-4061-b5d3-a9370dc9416e #s-Ellipse_1 {
  width: 50.0px;
  height: 50.0px;
  min-height: 50.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

_:-ms-fullscreen, :root #s-fcfe0b4c-0c78-4061-b5d3-a9370dc9416e #s-Ellipse_1 {
  box-shadow: none;
}

#s-fcfe0b4c-0c78-4061-b5d3-a9370dc9416e #shapewrapper-s-Ellipse_1 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}

#s-fcfe0b4c-0c78-4061-b5d3-a9370dc9416e #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-fcfe0b4c-0c78-4061-b5d3-a9370dc9416e #shapewrapper-s-Ellipse_1 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 18px;
}

#s-fcfe0b4c-0c78-4061-b5d3-a9370dc9416e #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #404040;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 18px;
}

#s-fcfe0b4c-0c78-4061-b5d3-a9370dc9416e #shapewrapper-s-Ellipse_2 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-fcfe0b4c-0c78-4061-b5d3-a9370dc9416e #shapewrapper-s-Ellipse_2 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

#s-fcfe0b4c-0c78-4061-b5d3-a9370dc9416e #shapewrapper-s-Ellipse_2 {
  position: absolute;
  filter: none;
  opacity: 0.2;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-fcfe0b4c-0c78-4061-b5d3-a9370dc9416e #s-Ellipse_2 {
  width: 50.0px;
  height: 50.0px;
  min-height: 50.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

_:-ms-fullscreen, :root #s-fcfe0b4c-0c78-4061-b5d3-a9370dc9416e #s-Ellipse_2 {
  box-shadow: none;
}

#s-fcfe0b4c-0c78-4061-b5d3-a9370dc9416e #shapewrapper-s-Ellipse_2 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}

#s-fcfe0b4c-0c78-4061-b5d3-a9370dc9416e #shapewrapper-s-Ellipse_2 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-fcfe0b4c-0c78-4061-b5d3-a9370dc9416e #shapewrapper-s-Ellipse_2 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 18px;
}

#s-fcfe0b4c-0c78-4061-b5d3-a9370dc9416e #shapewrapper-s-Ellipse_2 span#rtr-s-Ellipse_2_0 {
  color: #404040;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 18px;
}

#s-fcfe0b4c-0c78-4061-b5d3-a9370dc9416e #s-Home_Indicator {
  position: absolute;
  width: 134.0px;
  height: 5.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  z-index: 100;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-fcfe0b4c-0c78-4061-b5d3-a9370dc9416e #s-Home_Indicator {
  box-shadow: none;
}

#s-fcfe0b4c-0c78-4061-b5d3-a9370dc9416e #s-Image_11 {
  position: absolute;
  width: 22.0px;
  height: 22.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-fcfe0b4c-0c78-4061-b5d3-a9370dc9416e #s-Image_11 {
  box-shadow: none;
}

#s-fcfe0b4c-0c78-4061-b5d3-a9370dc9416e #s-Image_12 {
  position: absolute;
  width: 10.0px;
  height: 26.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-fcfe0b4c-0c78-4061-b5d3-a9370dc9416e #s-Image_12 {
  box-shadow: none;
}

#s-fcfe0b4c-0c78-4061-b5d3-a9370dc9416e #s-Image_17 {
  position: absolute;
  width: 17.0px;
  height: 12.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-fcfe0b4c-0c78-4061-b5d3-a9370dc9416e #s-Image_17 {
  box-shadow: none;
}

#s-fcfe0b4c-0c78-4061-b5d3-a9370dc9416e #s-Image_18 {
  position: absolute;
  width: 18.0px;
  height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-fcfe0b4c-0c78-4061-b5d3-a9370dc9416e #s-Image_18 {
  box-shadow: none;
}

#s-fcfe0b4c-0c78-4061-b5d3-a9370dc9416e #s-Image_4 {
  position: absolute;
  width: 25.0px;
  height: 12.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-fcfe0b4c-0c78-4061-b5d3-a9370dc9416e #s-Image_4 {
  box-shadow: none;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-fcfe0b4c-0c78-4061-b5d3-a9370dc9416e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
