#s-28be4074-92a1-4c4a-abb7-8f29a6bd119e > #backgroundBox {
  position: absolute;
}
#s-28be4074-92a1-4c4a-abb7-8f29a6bd119e > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}
#s-28be4074-92a1-4c4a-abb7-8f29a6bd119e #s-Image_1 {
  position: absolute;
  width: 34.99999999999995px;
  height: 34.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-28be4074-92a1-4c4a-abb7-8f29a6bd119e #s-Image_1 {
  box-shadow: none;
}
#s-28be4074-92a1-4c4a-abb7-8f29a6bd119e #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Bold',Arial;
}
_:-ms-fullscreen, :root #s-28be4074-92a1-4c4a-abb7-8f29a6bd119e #s-Paragraph_1 {
  box-shadow: none;
}
#s-28be4074-92a1-4c4a-abb7-8f29a6bd119e #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-28be4074-92a1-4c4a-abb7-8f29a6bd119e #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-28be4074-92a1-4c4a-abb7-8f29a6bd119e #s-Paragraph_1 span {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 32.0pt;
}
#s-28be4074-92a1-4c4a-abb7-8f29a6bd119e #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #FF0000;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 32.0pt;
}
#s-28be4074-92a1-4c4a-abb7-8f29a6bd119e #s-Image_2 {
  position: absolute;
  width: 363.0px;
  height: 288.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-28be4074-92a1-4c4a-abb7-8f29a6bd119e #s-Image_2 {
  box-shadow: none;
}
#s-28be4074-92a1-4c4a-abb7-8f29a6bd119e #s-Image_3 {
  position: absolute;
  width: 317.7527472527471px;
  height: 158.44109589041102px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-28be4074-92a1-4c4a-abb7-8f29a6bd119e #s-Image_3 {
  box-shadow: none;
}
#s-28be4074-92a1-4c4a-abb7-8f29a6bd119e #s-Image_4 {
  position: absolute;
  width: 341.9922879177378px;
  height: 181.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-28be4074-92a1-4c4a-abb7-8f29a6bd119e #s-Image_4 {
  box-shadow: none;
}
#s-28be4074-92a1-4c4a-abb7-8f29a6bd119e #s-Image_5 {
  position: absolute;
  width: 261.5434782608695px;
  height: 52.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-28be4074-92a1-4c4a-abb7-8f29a6bd119e #s-Image_5 {
  box-shadow: none;
}
#s-28be4074-92a1-4c4a-abb7-8f29a6bd119e #s-Image_6 {
  position: absolute;
  width: 321.57635467980276px;
  height: 95.99999999999989px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-28be4074-92a1-4c4a-abb7-8f29a6bd119e #s-Image_6 {
  box-shadow: none;
}
#s-28be4074-92a1-4c4a-abb7-8f29a6bd119e #s-Image_7 {
  position: absolute;
  width: 316.4842931937173px;
  height: 171.0000000000001px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-28be4074-92a1-4c4a-abb7-8f29a6bd119e #s-Image_7 {
  box-shadow: none;
}
#s-28be4074-92a1-4c4a-abb7-8f29a6bd119e #s-Image_8 {
  position: absolute;
  width: 186.19354838709688px;
  height: 48.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-28be4074-92a1-4c4a-abb7-8f29a6bd119e #s-Image_8 {
  box-shadow: none;
}
#s-28be4074-92a1-4c4a-abb7-8f29a6bd119e #s-Image_9 {
  position: absolute;
  width: 330.23728813559296px;
  height: 86.85289747399702px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-28be4074-92a1-4c4a-abb7-8f29a6bd119e #s-Image_9 {
  box-shadow: none;
}
#s-28be4074-92a1-4c4a-abb7-8f29a6bd119e #s-Image_10 {
  position: absolute;
  width: 255.89116205762247px;
  height: 64.10634540065712px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-28be4074-92a1-4c4a-abb7-8f29a6bd119e #s-Image_10 {
  box-shadow: none;
}
#s-28be4074-92a1-4c4a-abb7-8f29a6bd119e #s-Image_11 {
  position: absolute;
  width: 317.0px;
  height: 122.34289813486373px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-28be4074-92a1-4c4a-abb7-8f29a6bd119e #s-Image_11 {
  box-shadow: none;
}
#s-28be4074-92a1-4c4a-abb7-8f29a6bd119e #s-Rectangle_1 {
  position: absolute;
  width: 358.2121357844509px;
  min-height: 74.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-28be4074-92a1-4c4a-abb7-8f29a6bd119e #s-Rectangle_1 {
  box-shadow: none;
}
#s-28be4074-92a1-4c4a-abb7-8f29a6bd119e #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-28be4074-92a1-4c4a-abb7-8f29a6bd119e #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-28be4074-92a1-4c4a-abb7-8f29a6bd119e #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-28be4074-92a1-4c4a-abb7-8f29a6bd119e #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-28be4074-92a1-4c4a-abb7-8f29a6bd119e #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-28be4074-92a1-4c4a-abb7-8f29a6bd119e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}