#s-61e61ea9-0c22-4ce3-ad4e-73b05e754ee4 > #backgroundBox {
  background-color: #FF3446;
  position: absolute;
}
#s-61e61ea9-0c22-4ce3-ad4e-73b05e754ee4 > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}
#s-61e61ea9-0c22-4ce3-ad4e-73b05e754ee4 #s-Image_1 {
  position: absolute;
  width: 34.99999999999995px;
  height: 34.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-61e61ea9-0c22-4ce3-ad4e-73b05e754ee4 #s-Image_1 {
  box-shadow: none;
}
#s-61e61ea9-0c22-4ce3-ad4e-73b05e754ee4 #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Bold',Arial;
}
_:-ms-fullscreen, :root #s-61e61ea9-0c22-4ce3-ad4e-73b05e754ee4 #s-Paragraph_1 {
  box-shadow: none;
}
#s-61e61ea9-0c22-4ce3-ad4e-73b05e754ee4 #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-61e61ea9-0c22-4ce3-ad4e-73b05e754ee4 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-61e61ea9-0c22-4ce3-ad4e-73b05e754ee4 #s-Paragraph_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 32.0pt;
}
#s-61e61ea9-0c22-4ce3-ad4e-73b05e754ee4 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 32.0pt;
}
#s-61e61ea9-0c22-4ce3-ad4e-73b05e754ee4 #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans Semibold',Arial;
}
_:-ms-fullscreen, :root #s-61e61ea9-0c22-4ce3-ad4e-73b05e754ee4 #s-Paragraph_2 {
  box-shadow: none;
}
#s-61e61ea9-0c22-4ce3-ad4e-73b05e754ee4 #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-61e61ea9-0c22-4ce3-ad4e-73b05e754ee4 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-61e61ea9-0c22-4ce3-ad4e-73b05e754ee4 #s-Paragraph_2 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-61e61ea9-0c22-4ce3-ad4e-73b05e754ee4 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-61e61ea9-0c22-4ce3-ad4e-73b05e754ee4 #s-Paragraph_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans Semibold',Arial;
}
_:-ms-fullscreen, :root #s-61e61ea9-0c22-4ce3-ad4e-73b05e754ee4 #s-Paragraph_3 {
  box-shadow: none;
}
#s-61e61ea9-0c22-4ce3-ad4e-73b05e754ee4 #s-Paragraph_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-61e61ea9-0c22-4ce3-ad4e-73b05e754ee4 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-61e61ea9-0c22-4ce3-ad4e-73b05e754ee4 #s-Paragraph_3 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-61e61ea9-0c22-4ce3-ad4e-73b05e754ee4 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-61e61ea9-0c22-4ce3-ad4e-73b05e754ee4 #s-Paragraph_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans Semibold',Arial;
}
_:-ms-fullscreen, :root #s-61e61ea9-0c22-4ce3-ad4e-73b05e754ee4 #s-Paragraph_4 {
  box-shadow: none;
}
#s-61e61ea9-0c22-4ce3-ad4e-73b05e754ee4 #s-Paragraph_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-61e61ea9-0c22-4ce3-ad4e-73b05e754ee4 #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-61e61ea9-0c22-4ce3-ad4e-73b05e754ee4 #s-Paragraph_4 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-61e61ea9-0c22-4ce3-ad4e-73b05e754ee4 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-61e61ea9-0c22-4ce3-ad4e-73b05e754ee4 #s-Image_2 {
  position: absolute;
  width: 34.99999999999982px;
  height: 35.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-61e61ea9-0c22-4ce3-ad4e-73b05e754ee4 #s-Image_2 {
  box-shadow: none;
}
#s-61e61ea9-0c22-4ce3-ad4e-73b05e754ee4 #s-Image_3 {
  position: absolute;
  width: 38.499999999999915px;
  height: 38.49999999999969px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-61e61ea9-0c22-4ce3-ad4e-73b05e754ee4 #s-Image_3 {
  box-shadow: none;
}
#s-61e61ea9-0c22-4ce3-ad4e-73b05e754ee4 #s-Image_4 {
  position: absolute;
  width: 31.49999999999997px;
  height: 31.499999999999943px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-61e61ea9-0c22-4ce3-ad4e-73b05e754ee4 #s-Image_4 {
  box-shadow: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-61e61ea9-0c22-4ce3-ad4e-73b05e754ee4 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}