#s-715612e1-2eba-4a6f-80c2-a330ca12e871 > #backgroundBox {
  background-color: #EE3A4B;
  position: absolute;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Rectangle_1 {
  position: absolute;
  width: 38.821483880050494px;
  min-height: 48.17316626777421px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Rectangle_1 {
  box-shadow: none;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Rectangle_1 > .backgroundLayer {
  border-radius: 19px 0px 0px 19px;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Rectangle_1 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #707070;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #707070;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #707070;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #707070;
  border-radius: 19px 0px 0px 19px;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Rectangle_1 > .backgroundLayer {
  border-radius: 19px 0px 0px 19px;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Rectangle_2 {
  position: absolute;
  width: 38.821483880050494px;
  min-height: 48.17316626777421px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Rectangle_2 {
  box-shadow: none;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Rectangle_2 > .backgroundLayer {
  border-radius: 19px 0px 0px 19px;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Rectangle_2 > .borderLayer {
  border-radius: 19px 0px 0px 19px;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Rectangle_2 > .backgroundLayer {
  border-radius: 19px 0px 0px 19px;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Rectangle_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Input_1 input::-webkit-input-placeholder {
  color: #E0D1D1;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Input_1 input::-moz-placeholder {
  color: #E0D1D1;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Input_1 input:-moz-placeholder {
  color: #E0D1D1;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Input_1 input:-ms-input-placeholder {
  color: #E0D1D1;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Input_1 {
  position: absolute;
  width: 246.10955060270777px;
  height: 48.17316626777421px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Input_1 {
  box-shadow: none;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Input_1 .valign {
  vertical-align: middle;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Input_1 > .backgroundLayer {
  border-radius: 0px 24px 24px 0px;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Input_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Input_1 > .borderLayer {
  border-radius: 0px 24px 24px 0px;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Input_1 > .backgroundLayer {
  border-radius: 0px 24px 24px 0px;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Input_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Image_1 {
  position: absolute;
  width: 124.00000000000034px;
  height: 124.00000000000037px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Image_1 {
  box-shadow: none;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Input_2 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Input_2 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Input_2 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Input_2 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Input_2 {
  position: absolute;
  width: 160.23318620868434px;
  height: 27.476280557817404px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Input_2 {
  box-shadow: none;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Input_2 .valign {
  vertical-align: middle;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Input_2 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Input_2 > .backgroundLayer {
  border-radius: 14px 14px 14px 14px;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Input_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Input_2 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #707070;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #707070;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #707070;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #707070;
  border-radius: 14px 14px 14px 14px;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Input_2 > .backgroundLayer {
  border-radius: 14px 14px 14px 14px;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Input_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Image_2 {
  position: absolute;
  width: 20.347753136956243px;
  height: 20.347753136956385px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Image_2 {
  box-shadow: none;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Input_3 input::-webkit-input-placeholder {
  color: #E0D1D1;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Input_3 input::-moz-placeholder {
  color: #E0D1D1;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Input_3 input:-moz-placeholder {
  color: #E0D1D1;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Input_3 input:-ms-input-placeholder {
  color: #E0D1D1;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Input_3 {
  position: absolute;
  width: 246.10955060270777px;
  height: 48.17316626777421px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Input_3 {
  box-shadow: none;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Input_3 .valign {
  vertical-align: middle;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Input_3 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Input_3 > .backgroundLayer {
  border-radius: 0px 24px 0px 0px;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Input_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Input_3 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #707070;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #707070;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #707070;
  border-radius: 0px 24px 0px 0px;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Input_3 > .backgroundLayer {
  border-radius: 0px 24px 0px 0px;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Input_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Button_1 {
  position: absolute;
  width: 150.86206896551693px;
  min-height: 35.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Semibold',Arial;
}
_:-ms-fullscreen, :root #s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Button_1 {
  box-shadow: none;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Button_1 > .backgroundLayer {
  border-radius: 11px 11px 11px 11px;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Button_1 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #707070;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #707070;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #707070;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #707070;
  border-radius: 11px 11px 11px 11px;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Button_1 > .backgroundLayer {
  border-radius: 11px 11px 11px 11px;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Button_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Button_1 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Semibold',Arial;
  font-size: 14.0pt;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #030303;
  text-decoration: none;
  font-family: 'OpenSans-Semibold',Arial;
  font-size: 14.0pt;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Paragraph_1 {
  box-shadow: none;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Paragraph_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #shapewrapper-s-Line_1 marker {
  fill: #FFFFFF;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #shapewrapper-s-Line_1 {
  position: absolute;
  width: 126.60169386286549px;
  height: 2.0px;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Line_1 {
  width: 126.60169386286549px;
  height: 2.0px;
  stroke-width: 2px;
  stroke: #FFFFFF;
}
_:-ms-fullscreen, :root #s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Line_1 {
  box-shadow: none;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #shapewrapper-s-Line_2 marker {
  fill: #FFFFFF;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #shapewrapper-s-Line_2 {
  position: absolute;
  width: 126.60169386286549px;
  height: 2.0px;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Line_2 {
  width: 126.60169386286549px;
  height: 2.0px;
  stroke-width: 2px;
  stroke: #FFFFFF;
}
_:-ms-fullscreen, :root #s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Line_2 {
  box-shadow: none;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Paragraph_2 {
  box-shadow: none;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Paragraph_2 span {
  color: #FDFDFD;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #FDFDFD;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Paragraph_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Paragraph_3 {
  box-shadow: none;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Paragraph_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Paragraph_3 span {
  color: #FDFDFD;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #FDFDFD;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Paragraph_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Paragraph_4 {
  box-shadow: none;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Paragraph_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Paragraph_4 span {
  color: #382F6E;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #382F6E;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Image_3 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Image_3 {
  box-shadow: none;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Image_4 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-715612e1-2eba-4a6f-80c2-a330ca12e871 #s-Image_4 {
  box-shadow: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-715612e1-2eba-4a6f-80c2-a330ca12e871 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}