#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb > #backgroundBox {
  background-color: #FF3446;
  position: absolute;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Image_1 {
  position: absolute;
  width: 34.99999999999995px;
  height: 34.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Image_1 {
  box-shadow: none;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Bold',Arial;
}
_:-ms-fullscreen, :root #s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Paragraph_1 {
  box-shadow: none;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Paragraph_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 32.0pt;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 32.0pt;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Dynamic_Panel_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Panel_1 {
  width: 375.00000000000017px;
  height: 434.87943262411346px;
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Panel_1 {
  box-shadow: none;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Panel_1 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_1 {
  position: absolute;
  width: 148.00000000000006px;
  min-height: 208.87943262411352px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_1 {
  box-shadow: none;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_1 > .backgroundLayer {
  border-radius: 20px 20px 20px 20px;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_1 > .borderLayer {
  border-radius: 20px 20px 20px 20px;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_1 > .backgroundLayer {
  border-radius: 20px 20px 20px 20px;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_2 {
  position: absolute;
  width: 148.00000000000006px;
  min-height: 208.87943262411352px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_2 {
  box-shadow: none;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_2 > .backgroundLayer {
  border-radius: 20px 20px 20px 20px;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_2 > .borderLayer {
  border-radius: 20px 20px 20px 20px;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_2 > .backgroundLayer {
  border-radius: 20px 20px 20px 20px;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_3 {
  position: absolute;
  width: 148.00000000000006px;
  min-height: 208.87943262411352px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_3 {
  box-shadow: none;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_3 > .backgroundLayer {
  border-radius: 20px 20px 20px 20px;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_3 > .borderLayer {
  border-radius: 20px 20px 20px 20px;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_3 > .backgroundLayer {
  border-radius: 20px 20px 20px 20px;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_4 {
  position: absolute;
  width: 148.00000000000006px;
  min-height: 208.87943262411352px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_4 {
  box-shadow: none;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_4 > .backgroundLayer {
  border-radius: 20px 20px 20px 20px;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_4 > .borderLayer {
  border-radius: 20px 20px 20px 20px;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_4 > .backgroundLayer {
  border-radius: 20px 20px 20px 20px;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Image_2 {
  position: absolute;
  width: 142.0px;
  height: 200.4118918918919px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Image_2 {
  box-shadow: none;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Image_2 > .backgroundLayer {
  border-radius: 20px 20px 20px 20px;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Image_2 > .borderLayer {
  border-radius: 20px 20px 20px 20px;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Image_2 > .backgroundLayer {
  border-radius: 20px 20px 20px 20px;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Image_3 {
  position: absolute;
  width: 139.02843077243648px;
  height: 198.09070806969856px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Image_3 {
  box-shadow: none;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Image_3 > .backgroundLayer {
  border-radius: 20px 20px 20px 20px;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Image_3 > .borderLayer {
  border-radius: 20px 20px 20px 20px;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Image_3 > .backgroundLayer {
  border-radius: 20px 20px 20px 20px;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Image_4 {
  position: absolute;
  width: 142.4371610646068px;
  height: 202.94349484888892px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Image_4 {
  box-shadow: none;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Image_4 > .backgroundLayer {
  border-radius: 20px 20px 20px 20px;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Image_4 > .borderLayer {
  border-radius: 20px 20px 20px 20px;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Image_4 > .backgroundLayer {
  border-radius: 20px 20px 20px 20px;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Panel_2 {
  width: 375.00000000000017px;
  height: 434.87943262411346px;
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Panel_2 {
  box-shadow: none;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Panel_2 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Panel_2 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Panel_2 .verticalalign {
  vertical-align: top;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_5 {
  position: absolute;
  width: 148.00000000000006px;
  min-height: 208.87943262411352px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_5 {
  box-shadow: none;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_5 > .backgroundLayer {
  border-radius: 20px 20px 20px 20px;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_5 > .borderLayer {
  border-radius: 20px 20px 20px 20px;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_5 > .backgroundLayer {
  border-radius: 20px 20px 20px 20px;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_6 {
  position: absolute;
  width: 148.00000000000006px;
  min-height: 208.87943262411352px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_6 {
  box-shadow: none;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_6 > .backgroundLayer {
  border-radius: 20px 20px 20px 20px;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_6 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_6 > .borderLayer {
  border-radius: 20px 20px 20px 20px;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_6 > .backgroundLayer {
  border-radius: 20px 20px 20px 20px;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_6 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_7 {
  position: absolute;
  width: 148.00000000000006px;
  min-height: 208.87943262411352px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_7 {
  box-shadow: none;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_7 > .backgroundLayer {
  border-radius: 20px 20px 20px 20px;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_7 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_7 > .borderLayer {
  border-radius: 20px 20px 20px 20px;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_7 > .backgroundLayer {
  border-radius: 20px 20px 20px 20px;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_7 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_8 {
  position: absolute;
  width: 148.00000000000006px;
  min-height: 208.87943262411352px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_8 {
  box-shadow: none;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_8 > .backgroundLayer {
  border-radius: 20px 20px 20px 20px;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_8 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_8 > .borderLayer {
  border-radius: 20px 20px 20px 20px;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_8 > .backgroundLayer {
  border-radius: 20px 20px 20px 20px;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_8 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_8 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Image_5 {
  position: absolute;
  width: 34.0px;
  height: 34.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Image_5 {
  box-shadow: none;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Image_6 {
  position: absolute;
  width: 119.49999999999932px;
  height: 164.83970588235218px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Image_6 {
  box-shadow: none;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Fira Sans Medium',Arial;
}
_:-ms-fullscreen, :root #s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Paragraph_2 {
  box-shadow: none;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Paragraph_2 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Fira Sans Medium',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Fira Sans Medium',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Paragraph_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Fira Sans Medium',Arial;
}
_:-ms-fullscreen, :root #s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Paragraph_3 {
  box-shadow: none;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Paragraph_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Paragraph_3 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Fira Sans Medium',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Fira Sans Medium',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Image_7 {
  position: absolute;
  width: 122.47934476622277px;
  height: 195.86800796407954px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Image_7 {
  box-shadow: none;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Image_7 > .backgroundLayer {
  border-radius: 20px 20px 20px 20px;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Image_7 > .borderLayer {
  border-radius: 20px 20px 20px 20px;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Image_7 > .backgroundLayer {
  border-radius: 20px 20px 20px 20px;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_9 {
  position: absolute;
  width: 146.26749801635745px;
  min-height: 204.54911777008067px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans Extrabold',Arial;
}
_:-ms-fullscreen, :root #s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_9 {
  box-shadow: none;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_9 > .backgroundLayer {
  border-radius: 20px 20px 20px 20px;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_9 > .backgroundLayer > .colorLayer {
  background-color: rgba(3,2,2,0.62);
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_9 > .borderLayer {
  border-radius: 20px 20px 20px 20px;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_9 > .backgroundLayer {
  border-radius: 20px 20px 20px 20px;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_9 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_9 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Open Sans Extrabold',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Open Sans Extrabold',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_10 {
  position: absolute;
  width: 144.52083587646476px;
  min-height: 206.56852627505558px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans Extrabold',Arial;
}
_:-ms-fullscreen, :root #s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_10 {
  box-shadow: none;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_10 > .backgroundLayer {
  border-radius: 20px 20px 20px 20px;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_10 > .backgroundLayer > .colorLayer {
  background-color: rgba(3,2,2,0.62);
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_10 > .borderLayer {
  border-radius: 20px 20px 20px 20px;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_10 > .backgroundLayer {
  border-radius: 20px 20px 20px 20px;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_10 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_10 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Open Sans Extrabold',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Open Sans Extrabold',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_11 {
  position: absolute;
  width: 140.99999999999997px;
  min-height: 201.53607629061622px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans Extrabold',Arial;
}
_:-ms-fullscreen, :root #s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_11 {
  box-shadow: none;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_11 > .backgroundLayer {
  border-radius: 20px 20px 20px 20px;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_11 > .backgroundLayer > .colorLayer {
  background-color: rgba(3,2,2,0.62);
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_11 > .borderLayer {
  border-radius: 20px 20px 20px 20px;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_11 > .backgroundLayer {
  border-radius: 20px 20px 20px 20px;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_11 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_11 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Open Sans Extrabold',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_11 span#rtr-s-Rectangle_11_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Open Sans Extrabold',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_12 {
  position: absolute;
  width: 140.97916412353524px;
  min-height: 201.5360762906161px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans Extrabold',Arial;
}
_:-ms-fullscreen, :root #s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_12 {
  box-shadow: none;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_12 > .backgroundLayer {
  border-radius: 20px 20px 20px 20px;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_12 > .backgroundLayer > .colorLayer {
  background-color: rgba(3,2,2,0.62);
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_12 > .borderLayer {
  border-radius: 20px 20px 20px 20px;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_12 > .backgroundLayer {
  border-radius: 20px 20px 20px 20px;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_12 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_12 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Open Sans Extrabold',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb #s-Rectangle_12 span#rtr-s-Rectangle_12_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Open Sans Extrabold',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-a48e8b2e-8375-43bd-a6d1-88d5c38c41eb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}