#s-bd98fb97-c731-4ab2-ac90-4303705c62dd > #backgroundBox {
  background-color: #FF3446;
  position: absolute;
}
#s-bd98fb97-c731-4ab2-ac90-4303705c62dd > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}
#s-bd98fb97-c731-4ab2-ac90-4303705c62dd #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Bold',Arial;
}
_:-ms-fullscreen, :root #s-bd98fb97-c731-4ab2-ac90-4303705c62dd #s-Paragraph_1 {
  box-shadow: none;
}
#s-bd98fb97-c731-4ab2-ac90-4303705c62dd #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-bd98fb97-c731-4ab2-ac90-4303705c62dd #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-bd98fb97-c731-4ab2-ac90-4303705c62dd #s-Paragraph_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 32.0pt;
}
#s-bd98fb97-c731-4ab2-ac90-4303705c62dd #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 32.0pt;
}
#s-bd98fb97-c731-4ab2-ac90-4303705c62dd #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans Semibold',Arial;
}
_:-ms-fullscreen, :root #s-bd98fb97-c731-4ab2-ac90-4303705c62dd #s-Paragraph_2 {
  box-shadow: none;
}
#s-bd98fb97-c731-4ab2-ac90-4303705c62dd #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-bd98fb97-c731-4ab2-ac90-4303705c62dd #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-bd98fb97-c731-4ab2-ac90-4303705c62dd #s-Paragraph_2 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-bd98fb97-c731-4ab2-ac90-4303705c62dd #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-bd98fb97-c731-4ab2-ac90-4303705c62dd #s-Paragraph_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans Semibold',Arial;
}
_:-ms-fullscreen, :root #s-bd98fb97-c731-4ab2-ac90-4303705c62dd #s-Paragraph_3 {
  box-shadow: none;
}
#s-bd98fb97-c731-4ab2-ac90-4303705c62dd #s-Paragraph_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-bd98fb97-c731-4ab2-ac90-4303705c62dd #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-bd98fb97-c731-4ab2-ac90-4303705c62dd #s-Paragraph_3 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-bd98fb97-c731-4ab2-ac90-4303705c62dd #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-bd98fb97-c731-4ab2-ac90-4303705c62dd #s-Paragraph_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans Semibold',Arial;
}
_:-ms-fullscreen, :root #s-bd98fb97-c731-4ab2-ac90-4303705c62dd #s-Paragraph_4 {
  box-shadow: none;
}
#s-bd98fb97-c731-4ab2-ac90-4303705c62dd #s-Paragraph_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-bd98fb97-c731-4ab2-ac90-4303705c62dd #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-bd98fb97-c731-4ab2-ac90-4303705c62dd #s-Paragraph_4 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-bd98fb97-c731-4ab2-ac90-4303705c62dd #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-bd98fb97-c731-4ab2-ac90-4303705c62dd #s-Paragraph_5 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans Semibold',Arial;
}
_:-ms-fullscreen, :root #s-bd98fb97-c731-4ab2-ac90-4303705c62dd #s-Paragraph_5 {
  box-shadow: none;
}
#s-bd98fb97-c731-4ab2-ac90-4303705c62dd #s-Paragraph_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-bd98fb97-c731-4ab2-ac90-4303705c62dd #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-bd98fb97-c731-4ab2-ac90-4303705c62dd #s-Paragraph_5 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-bd98fb97-c731-4ab2-ac90-4303705c62dd #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-bd98fb97-c731-4ab2-ac90-4303705c62dd #s-Paragraph_6 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans Semibold',Arial;
}
_:-ms-fullscreen, :root #s-bd98fb97-c731-4ab2-ac90-4303705c62dd #s-Paragraph_6 {
  box-shadow: none;
}
#s-bd98fb97-c731-4ab2-ac90-4303705c62dd #s-Paragraph_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-bd98fb97-c731-4ab2-ac90-4303705c62dd #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-bd98fb97-c731-4ab2-ac90-4303705c62dd #s-Paragraph_6 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-bd98fb97-c731-4ab2-ac90-4303705c62dd #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-bd98fb97-c731-4ab2-ac90-4303705c62dd #s-Paragraph_7 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans Semibold',Arial;
}
_:-ms-fullscreen, :root #s-bd98fb97-c731-4ab2-ac90-4303705c62dd #s-Paragraph_7 {
  box-shadow: none;
}
#s-bd98fb97-c731-4ab2-ac90-4303705c62dd #s-Paragraph_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-bd98fb97-c731-4ab2-ac90-4303705c62dd #s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-bd98fb97-c731-4ab2-ac90-4303705c62dd #s-Paragraph_7 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-bd98fb97-c731-4ab2-ac90-4303705c62dd #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-bd98fb97-c731-4ab2-ac90-4303705c62dd #s-Paragraph_8 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans Semibold',Arial;
}
_:-ms-fullscreen, :root #s-bd98fb97-c731-4ab2-ac90-4303705c62dd #s-Paragraph_8 {
  box-shadow: none;
}
#s-bd98fb97-c731-4ab2-ac90-4303705c62dd #s-Paragraph_8 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-bd98fb97-c731-4ab2-ac90-4303705c62dd #s-Paragraph_8 .valign {
  vertical-align: top;
  text-align: left;
}
#s-bd98fb97-c731-4ab2-ac90-4303705c62dd #s-Paragraph_8 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-bd98fb97-c731-4ab2-ac90-4303705c62dd #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-bd98fb97-c731-4ab2-ac90-4303705c62dd #s-Paragraph_9 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans Semibold',Arial;
}
_:-ms-fullscreen, :root #s-bd98fb97-c731-4ab2-ac90-4303705c62dd #s-Paragraph_9 {
  box-shadow: none;
}
#s-bd98fb97-c731-4ab2-ac90-4303705c62dd #s-Paragraph_9 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-bd98fb97-c731-4ab2-ac90-4303705c62dd #s-Paragraph_9 .valign {
  vertical-align: top;
  text-align: left;
}
#s-bd98fb97-c731-4ab2-ac90-4303705c62dd #s-Paragraph_9 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-bd98fb97-c731-4ab2-ac90-4303705c62dd #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-bd98fb97-c731-4ab2-ac90-4303705c62dd #s-Paragraph_10 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans Semibold',Arial;
}
_:-ms-fullscreen, :root #s-bd98fb97-c731-4ab2-ac90-4303705c62dd #s-Paragraph_10 {
  box-shadow: none;
}
#s-bd98fb97-c731-4ab2-ac90-4303705c62dd #s-Paragraph_10 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-bd98fb97-c731-4ab2-ac90-4303705c62dd #s-Paragraph_10 .valign {
  vertical-align: top;
  text-align: left;
}
#s-bd98fb97-c731-4ab2-ac90-4303705c62dd #s-Paragraph_10 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-bd98fb97-c731-4ab2-ac90-4303705c62dd #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-bd98fb97-c731-4ab2-ac90-4303705c62dd #s-Image_1 {
  position: absolute;
  width: 36.49999999999977px;
  height: 36.49999999999977px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-bd98fb97-c731-4ab2-ac90-4303705c62dd #s-Image_1 {
  box-shadow: none;
}
#s-bd98fb97-c731-4ab2-ac90-4303705c62dd #s-Image_2 {
  position: absolute;
  width: 42.78723144531274px;
  height: 37.99211067988972px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-bd98fb97-c731-4ab2-ac90-4303705c62dd #s-Image_2 {
  box-shadow: none;
}
#s-bd98fb97-c731-4ab2-ac90-4303705c62dd #s-Image_3 {
  position: absolute;
  width: 42.00000000000034px;
  height: 42.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-bd98fb97-c731-4ab2-ac90-4303705c62dd #s-Image_3 {
  box-shadow: none;
}
#s-bd98fb97-c731-4ab2-ac90-4303705c62dd #s-Image_4 {
  position: absolute;
  width: 44.17507636028785px;
  height: 35.65006162409179px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-bd98fb97-c731-4ab2-ac90-4303705c62dd #s-Image_4 {
  box-shadow: none;
}
#s-bd98fb97-c731-4ab2-ac90-4303705c62dd #s-Image_5 {
  position: absolute;
  width: 40.158333333333516px;
  height: 39.50000000000017px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-bd98fb97-c731-4ab2-ac90-4303705c62dd #s-Image_5 {
  box-shadow: none;
}
#s-bd98fb97-c731-4ab2-ac90-4303705c62dd #s-Image_6 {
  position: absolute;
  width: 44.484046936035256px;
  height: 43.07185496981202px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-bd98fb97-c731-4ab2-ac90-4303705c62dd #s-Image_6 {
  box-shadow: none;
}
#s-bd98fb97-c731-4ab2-ac90-4303705c62dd #s-Image_7 {
  position: absolute;
  width: 47.68013763427739px;
  height: 33.43090109989555px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-bd98fb97-c731-4ab2-ac90-4303705c62dd #s-Image_7 {
  box-shadow: none;
}
#s-bd98fb97-c731-4ab2-ac90-4303705c62dd #s-Image_8 {
  position: absolute;
  width: 42.106369018554695px;
  height: 36.091173444475544px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-bd98fb97-c731-4ab2-ac90-4303705c62dd #s-Image_8 {
  box-shadow: none;
}
#s-bd98fb97-c731-4ab2-ac90-4303705c62dd #s-Image_9 {
  position: absolute;
  width: 36.49999999999976px;
  height: 39.44354838709643px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-bd98fb97-c731-4ab2-ac90-4303705c62dd #s-Image_9 {
  box-shadow: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-bd98fb97-c731-4ab2-ac90-4303705c62dd > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}