#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 > #backgroundBox {
  background-color: #EE3A4B;
  position: absolute;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Bold',Arial;
}
_:-ms-fullscreen, :root #s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Paragraph_1 {
  box-shadow: none;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Paragraph_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 32.0pt;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 32.0pt;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Image_1 {
  position: absolute;
  width: 34.99999999999995px;
  height: 34.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Image_1 {
  box-shadow: none;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Rectangle_1 {
  position: absolute;
  width: 331.5px;
  min-height: 70.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(-0.0px -0.0px 2.5px #404040);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Rectangle_1 {
  box-shadow: -0.0px -0.0px 5px 0px #404040;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Paragraph_2 {
  position: absolute;
  width: auto;
  opacity: 0.81;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans Semibold',Arial;
}
_:-ms-fullscreen, :root #s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Paragraph_2 {
  box-shadow: none;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Paragraph_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Paragraph_2 span#rtr-s-Paragraph_2_1 {
  color: #000000;
  text-decoration: none;
  font-family: 'Open Sans Light',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #shapewrapper-s-Ellipse_1 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #shapewrapper-s-Ellipse_1 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #shapewrapper-s-Ellipse_1 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Ellipse_1 {
  width: 52.03747680386777px;
  height: 50.06428639408409px;
  min-height: 50.06428639408409px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
_:-ms-fullscreen, :root #s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Ellipse_1 {
  box-shadow: none;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #shapewrapper-s-Ellipse_1 > .backgroundLayer > .colorLayer {
  background-color: #18C9ED;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #shapewrapper-s-Ellipse_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Rectangle_2 {
  position: absolute;
  width: 331.5px;
  min-height: 70.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(-0.0px -0.0px 2.5px #404040);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Rectangle_2 {
  box-shadow: -0.0px -0.0px 5px 0px #404040;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Rectangle_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Paragraph_3 {
  position: absolute;
  width: auto;
  opacity: 0.81;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans Semibold',Arial;
}
_:-ms-fullscreen, :root #s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Paragraph_3 {
  box-shadow: none;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Paragraph_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Paragraph_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Paragraph_3 span#rtr-s-Paragraph_3_1 {
  color: #000000;
  text-decoration: none;
  font-family: 'Open Sans Light',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #shapewrapper-s-Ellipse_2 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #shapewrapper-s-Ellipse_2 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #shapewrapper-s-Ellipse_2 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Ellipse_2 {
  width: 52.03747680386777px;
  height: 50.06428639408409px;
  min-height: 50.06428639408409px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
_:-ms-fullscreen, :root #s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Ellipse_2 {
  box-shadow: none;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #shapewrapper-s-Ellipse_2 > .backgroundLayer > .colorLayer {
  background-color: #F9D070;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #shapewrapper-s-Ellipse_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #shapewrapper-s-Ellipse_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #shapewrapper-s-Ellipse_2 span#rtr-s-Ellipse_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Rectangle_3 {
  position: absolute;
  width: 331.5px;
  min-height: 70.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(-0.0px -0.0px 2.5px #404040);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Rectangle_3 {
  box-shadow: -0.0px -0.0px 5px 0px #404040;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Rectangle_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Paragraph_4 {
  position: absolute;
  width: auto;
  opacity: 0.81;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans Semibold',Arial;
}
_:-ms-fullscreen, :root #s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Paragraph_4 {
  box-shadow: none;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Paragraph_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Paragraph_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Paragraph_4 span#rtr-s-Paragraph_4_1 {
  color: #000000;
  text-decoration: none;
  font-family: 'Open Sans Light',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #shapewrapper-s-Ellipse_3 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #shapewrapper-s-Ellipse_3 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #shapewrapper-s-Ellipse_3 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Ellipse_3 {
  width: 52.03747680386777px;
  height: 50.06428639408409px;
  min-height: 50.06428639408409px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
_:-ms-fullscreen, :root #s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Ellipse_3 {
  box-shadow: none;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #shapewrapper-s-Ellipse_3 > .backgroundLayer > .colorLayer {
  background-color: #18ED81;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #shapewrapper-s-Ellipse_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #shapewrapper-s-Ellipse_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #shapewrapper-s-Ellipse_3 span#rtr-s-Ellipse_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Rectangle_4 {
  position: absolute;
  width: 331.5px;
  min-height: 70.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(-0.0px -0.0px 2.5px #404040);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Rectangle_4 {
  box-shadow: -0.0px -0.0px 5px 0px #404040;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Rectangle_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Rectangle_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Paragraph_5 {
  position: absolute;
  width: auto;
  opacity: 0.81;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans Semibold',Arial;
}
_:-ms-fullscreen, :root #s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Paragraph_5 {
  box-shadow: none;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Paragraph_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Paragraph_5 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Paragraph_5 span#rtr-s-Paragraph_5_1 {
  color: #000000;
  text-decoration: none;
  font-family: 'Open Sans Light',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #shapewrapper-s-Ellipse_4 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #shapewrapper-s-Ellipse_4 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #shapewrapper-s-Ellipse_4 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Ellipse_4 {
  width: 52.03747680386777px;
  height: 50.06428639408409px;
  min-height: 50.06428639408409px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
_:-ms-fullscreen, :root #s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Ellipse_4 {
  box-shadow: none;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #shapewrapper-s-Ellipse_4 > .backgroundLayer > .colorLayer {
  background-color: #D678D0;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #shapewrapper-s-Ellipse_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #shapewrapper-s-Ellipse_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #shapewrapper-s-Ellipse_4 span#rtr-s-Ellipse_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Rectangle_5 {
  position: absolute;
  width: 331.5px;
  min-height: 70.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(-0.0px -0.0px 2.5px #404040);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Rectangle_5 {
  box-shadow: -0.0px -0.0px 5px 0px #404040;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Rectangle_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Rectangle_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Paragraph_6 {
  position: absolute;
  width: auto;
  opacity: 0.81;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans Semibold',Arial;
}
_:-ms-fullscreen, :root #s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Paragraph_6 {
  box-shadow: none;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Paragraph_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Paragraph_6 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Paragraph_6 span#rtr-s-Paragraph_6_1 {
  color: #000000;
  text-decoration: none;
  font-family: 'Open Sans Light',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #shapewrapper-s-Ellipse_5 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #shapewrapper-s-Ellipse_5 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #shapewrapper-s-Ellipse_5 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Ellipse_5 {
  width: 52.03747680386777px;
  height: 50.06428639408409px;
  min-height: 50.06428639408409px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
_:-ms-fullscreen, :root #s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Ellipse_5 {
  box-shadow: none;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #shapewrapper-s-Ellipse_5 > .backgroundLayer > .colorLayer {
  background-color: #F86767;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #shapewrapper-s-Ellipse_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #shapewrapper-s-Ellipse_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #shapewrapper-s-Ellipse_5 span#rtr-s-Ellipse_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Rectangle_6 {
  position: absolute;
  width: 331.5px;
  min-height: 70.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(-0.0px -0.0px 2.5px #404040);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Rectangle_6 {
  box-shadow: -0.0px -0.0px 5px 0px #404040;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Rectangle_6 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Rectangle_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Rectangle_6 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Paragraph_7 {
  position: absolute;
  width: auto;
  opacity: 0.81;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans Semibold',Arial;
}
_:-ms-fullscreen, :root #s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Paragraph_7 {
  box-shadow: none;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Paragraph_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Paragraph_7 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Paragraph_7 span#rtr-s-Paragraph_7_1 {
  color: #000000;
  text-decoration: none;
  font-family: 'Open Sans Light',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #shapewrapper-s-Ellipse_6 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #shapewrapper-s-Ellipse_6 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #shapewrapper-s-Ellipse_6 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Ellipse_6 {
  width: 52.03747680386777px;
  height: 50.06428639408409px;
  min-height: 50.06428639408409px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
_:-ms-fullscreen, :root #s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Ellipse_6 {
  box-shadow: none;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #shapewrapper-s-Ellipse_6 > .backgroundLayer > .colorLayer {
  background-color: #788CD6;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #shapewrapper-s-Ellipse_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #shapewrapper-s-Ellipse_6 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #shapewrapper-s-Ellipse_6 span#rtr-s-Ellipse_6_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Rectangle_7 {
  position: absolute;
  width: 332.49999999999994px;
  min-height: 71.99999999999987px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Rectangle_7 {
  box-shadow: none;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Rectangle_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Rectangle_7 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Rectangle_8 {
  position: absolute;
  width: 375.0px;
  min-height: 84.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Rectangle_8 {
  box-shadow: none;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Rectangle_8 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Rectangle_8 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Rectangle_8 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Input_1 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Input_1 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Input_1 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Input_1 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Input_1 {
  position: absolute;
  width: 270.5573043823241px;
  height: 61.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Input_1 {
  box-shadow: none;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Input_1 .valign {
  vertical-align: middle;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Input_1 > .backgroundLayer {
  border-radius: 14px 14px 14px 14px;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Input_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Input_1 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  border-radius: 14px 14px 14px 14px;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Input_1 > .backgroundLayer {
  border-radius: 14px 14px 14px 14px;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Input_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Paragraph_8 {
  position: absolute;
  width: 20.00000067041198%;
  min-height: 58.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Paragraph_8 {
  box-shadow: none;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Paragraph_8 > .backgroundLayer {
  border-radius: 11px 11px 11px 11px;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Paragraph_8 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Paragraph_8 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  border-radius: 11px 11px 11px 11px;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Paragraph_8 > .backgroundLayer {
  border-radius: 11px 11px 11px 11px;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Paragraph_8 .paddingLayer:first-child {
  padding-top: 6px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Paragraph_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Paragraph_8 span {
  color: #EE3A4B;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #EE3A4B;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-c3c239ec-5b6e-4b32-bf5f-0b94d1b29c65 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}