#s-d9c5d2a1-a1de-46e2-991b-a502f012afae > #backgroundBox {
  background-color: #EE3A4B;
  position: absolute;
}
#s-d9c5d2a1-a1de-46e2-991b-a502f012afae > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}
#s-d9c5d2a1-a1de-46e2-991b-a502f012afae #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Bold',Arial;
}
_:-ms-fullscreen, :root #s-d9c5d2a1-a1de-46e2-991b-a502f012afae #s-Paragraph_1 {
  box-shadow: none;
}
#s-d9c5d2a1-a1de-46e2-991b-a502f012afae #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d9c5d2a1-a1de-46e2-991b-a502f012afae #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d9c5d2a1-a1de-46e2-991b-a502f012afae #s-Paragraph_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 32.0pt;
}
#s-d9c5d2a1-a1de-46e2-991b-a502f012afae #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 32.0pt;
}
#s-d9c5d2a1-a1de-46e2-991b-a502f012afae #s-Image_1 {
  position: absolute;
  width: 34.99999999999995px;
  height: 34.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-d9c5d2a1-a1de-46e2-991b-a502f012afae #s-Image_1 {
  box-shadow: none;
}
#s-d9c5d2a1-a1de-46e2-991b-a502f012afae #s-Rectangle_1 {
  position: absolute;
  width: 331.4999999999999px;
  min-height: 233.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(-0.0px -0.0px 2.5px #404040);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-d9c5d2a1-a1de-46e2-991b-a502f012afae #s-Rectangle_1 {
  box-shadow: -0.0px -0.0px 5px 0px #404040;
}
#s-d9c5d2a1-a1de-46e2-991b-a502f012afae #s-Rectangle_1 > .backgroundLayer {
  border-radius: 24px 24px 24px 24px;
}
#s-d9c5d2a1-a1de-46e2-991b-a502f012afae #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-d9c5d2a1-a1de-46e2-991b-a502f012afae #s-Rectangle_1 > .borderLayer {
  border-radius: 24px 24px 24px 24px;
}
#s-d9c5d2a1-a1de-46e2-991b-a502f012afae #s-Rectangle_1 > .backgroundLayer {
  border-radius: 24px 24px 24px 24px;
}
#s-d9c5d2a1-a1de-46e2-991b-a502f012afae #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d9c5d2a1-a1de-46e2-991b-a502f012afae #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d9c5d2a1-a1de-46e2-991b-a502f012afae #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d9c5d2a1-a1de-46e2-991b-a502f012afae #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d9c5d2a1-a1de-46e2-991b-a502f012afae #s-Image_2 {
  position: absolute;
  width: 50.99999999999997px;
  height: 51.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-d9c5d2a1-a1de-46e2-991b-a502f012afae #s-Image_2 {
  box-shadow: none;
}
#s-d9c5d2a1-a1de-46e2-991b-a502f012afae #s-Paragraph_2 {
  position: absolute;
  width: auto;
  opacity: 0.81;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans Semibold',Arial;
}
_:-ms-fullscreen, :root #s-d9c5d2a1-a1de-46e2-991b-a502f012afae #s-Paragraph_2 {
  box-shadow: none;
}
#s-d9c5d2a1-a1de-46e2-991b-a502f012afae #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d9c5d2a1-a1de-46e2-991b-a502f012afae #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d9c5d2a1-a1de-46e2-991b-a502f012afae #s-Paragraph_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d9c5d2a1-a1de-46e2-991b-a502f012afae #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d9c5d2a1-a1de-46e2-991b-a502f012afae #s-Paragraph_2 span#rtr-s-Paragraph_2_1 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d9c5d2a1-a1de-46e2-991b-a502f012afae #s-Paragraph_2 span#rtr-s-Paragraph_2_2 {
  color: #333333;
  text-decoration: none;
  font-family: 'Open Sans Light',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d9c5d2a1-a1de-46e2-991b-a502f012afae #s-Paragraph_3 {
  position: absolute;
  width: auto;
  opacity: 0.81;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans',Arial;
}
_:-ms-fullscreen, :root #s-d9c5d2a1-a1de-46e2-991b-a502f012afae #s-Paragraph_3 {
  box-shadow: none;
}
#s-d9c5d2a1-a1de-46e2-991b-a502f012afae #s-Paragraph_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d9c5d2a1-a1de-46e2-991b-a502f012afae #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d9c5d2a1-a1de-46e2-991b-a502f012afae #s-Paragraph_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d9c5d2a1-a1de-46e2-991b-a502f012afae #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d9c5d2a1-a1de-46e2-991b-a502f012afae #s-Image_3 {
  position: absolute;
  width: 50.999999999999936px;
  height: 51.00000000000003px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-d9c5d2a1-a1de-46e2-991b-a502f012afae #s-Image_3 {
  box-shadow: none;
}
#s-d9c5d2a1-a1de-46e2-991b-a502f012afae #s-Input_1 input::-webkit-input-placeholder {
  color: #969696;
}
#s-d9c5d2a1-a1de-46e2-991b-a502f012afae #s-Input_1 input::-moz-placeholder {
  color: #969696;
}
#s-d9c5d2a1-a1de-46e2-991b-a502f012afae #s-Input_1 input:-moz-placeholder {
  color: #969696;
}
#s-d9c5d2a1-a1de-46e2-991b-a502f012afae #s-Input_1 input:-ms-input-placeholder {
  color: #969696;
}
#s-d9c5d2a1-a1de-46e2-991b-a502f012afae #s-Input_1 {
  position: absolute;
  width: 230.0px;
  height: 51.00000000000003px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-d9c5d2a1-a1de-46e2-991b-a502f012afae #s-Input_1 {
  box-shadow: none;
}
#s-d9c5d2a1-a1de-46e2-991b-a502f012afae #s-Input_1 .valign {
  vertical-align: middle;
}
#s-d9c5d2a1-a1de-46e2-991b-a502f012afae #s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-d9c5d2a1-a1de-46e2-991b-a502f012afae #s-Input_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-d9c5d2a1-a1de-46e2-991b-a502f012afae #s-Input_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}
#s-d9c5d2a1-a1de-46e2-991b-a502f012afae #s-Button_1 {
  position: absolute;
  width: 68.0px;
  min-height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans Semibold',Arial;
}
_:-ms-fullscreen, :root #s-d9c5d2a1-a1de-46e2-991b-a502f012afae #s-Button_1 {
  box-shadow: none;
}
#s-d9c5d2a1-a1de-46e2-991b-a502f012afae #s-Button_1 > .backgroundLayer {
  border-radius: 14px 14px 14px 14px;
}
#s-d9c5d2a1-a1de-46e2-991b-a502f012afae #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-d9c5d2a1-a1de-46e2-991b-a502f012afae #s-Button_1 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 14px 14px 14px 14px;
}
#s-d9c5d2a1-a1de-46e2-991b-a502f012afae #s-Button_1 > .backgroundLayer {
  border-radius: 14px 14px 14px 14px;
}
#s-d9c5d2a1-a1de-46e2-991b-a502f012afae #s-Button_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d9c5d2a1-a1de-46e2-991b-a502f012afae #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d9c5d2a1-a1de-46e2-991b-a502f012afae #s-Button_1 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d9c5d2a1-a1de-46e2-991b-a502f012afae #s-Button_1 span#rtr-s-Button_1_0 {
  color: #030303;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-d9c5d2a1-a1de-46e2-991b-a502f012afae > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}